# Node modules
node_modules/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime files
*.log
pids
*.pid
*.seed

# OS/System files
.DS_Store
Thumbs.db

# Editor/IDE settings
.vscode/
.idea/
